:root {
    /* Text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    /* Gradients */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

/* Body */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 0.75rem;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
}

.bg__desktop {
    display: none;
}

.bg__mobile {
    display: block;
    margin: 0 auto;
    width: 240px;
    position: relative;
    top: 4.6rem;
}

.box__img {
    display: none;
}

.bg__shadow {
    display: block;
    margin: 0 auto;
}

/* Card */
.card {
    width: calc(21.094rem - 4rem);
    padding: 0 2rem 2rem 2rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 9px rgba(0,0,0,0.1);
}

/* Card Body */

.body__title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.main__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__text::-webkit-details-marker {
    display: none;
}

.row {
    padding: 0.9rem 0;
    border-bottom: 1px solid var(--light-grayish-blue);
}

details[open] > summary {
    color: var(--very-dark-desaturated-blue);
    font-weight: bold;
}

.hidden__text {
    color: var(--dark-grayish-blue);
}

.icon-arrow {
    width: 10px;
    height: 7px;
}

.arrow-rotate {
    transform: rotate(180deg);
}

/* Footer */

.attribution {
    text-align: center;
}

@media screen and (min-width: 1024px) {

    body {
        justify-content: center;
    }

    main {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    /* Card */

    .card {
        width: 45rem;
        height: calc(27.015rem - 8rem);
        max-height: 100%;
        max-width: 100%;
        padding: 4rem;
        display: flex;
        overflow: hidden;
    }

    /* Card Body */

    .card__body {
        width: 50%;
    }

    .body__title {
        text-align: left;
    }

    .main__text:hover {
        cursor: pointer;
        color: var(--soft-red);
    }

    /* BG img */

    .bg__mobile {
        display: none;
    }

    .bg__shadow {
        display: none;
    }

    .bg__desktop {
        display: flex;
        width: 50%;
        position: relative;
    }

    .box__img {
        display: block;
        width: 20%;
        position: absolute;
        margin-top:  auto;
        margin-bottom: auto;
        left: -5.2rem;
        top: 3.8rem;
        bottom: 0;
        z-index: 99;
    }

    .illustration__desktop {
        width: 25rem;
        display: block;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        right: 8.5rem;
        z-index: 50;
    }

    .shadow__desktop {
        width: 40rem;
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        left: -23.5rem;
        top: -4rem;
        bottom: 0;
    }
}